* {
  --darkblue: #001c30;
  --blue: #176b87;
  --teal: #64ccc5;
  --lightteal: #b1fff7;
  --red: #ff8b8b;
}

html {
  background-color: var(--darkblue);
  min-height: 100%;
}

#formEl {
  font-size: 35px;
  margin: 20px;
  color: var(--darkblue);
}

#movieInput {
  width: 30%;
  margin: 10px;
}

#searchMovieBtn {
  margin: 10px;
  color: var(--lightteal);
  background-color: var(--blue);
}

.input::placeholder {
  opacity: 0.7;
  color: black;
}

#movie-content {
  text-align: center;
  color: #dafffb;
  margin-top: 60px;
}

h2 {
  margin-top: 60px;
  font-size: 40px;
  color: #dafffb;
}

p {
  margin: 40px 50px 80px 70px;
  font-size: 25px;
}

iframe {
  margin: 10px;
}

#search-history-container {
  margin-left: 30px;
}

#clear-history {
  background-color: var(--red);
  border-style: none;
  color: var(--darkblue);
}

.button.is-normal {
  margin: 5px;
}

#actor-names {
  color: #dafffb;
  margin: 0 0 0 0;
}
